.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.repos {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 64px 0;
}

.repo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    background: var(--background-dark);
    color: var(--text);
    transition: 0.4s;
    
    &:hover {
        transform: scale(1.05);
        background: var(--background-light);
    }

}

.repo__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;

    strong {
        font-size: 18px;
    }

    div {
        display: flex;
        align-items: center;
        column-gap: 6px;

        time, span {
            display: flex;
            align-items: center;
            column-gap: 4px;
            font-size: 14px;
            color: var(--text-dark);

            svg {
                width: 12px;
                height: auto;
            }
        }

        time {
            letter-spacing: 2px;
        }

    }

}