.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

.input {
    background: var(--background-light);
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    outline: none;
    width: 715px;
    padding: 16px 24px;

    &::placeholder {
        color: var(--text-dark);
    }

    &:focus {
        border-color: var(--link);
    }

}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;

    a {
        text-decoration: none;
    }
}